<h1>Secret Page!</h1>

<p>
  Looks like you found my secret page, naughty, naughty, enjoy this picture of
  an egg.
</p>

<img src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/egg.png" alt="egg">
